<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>employee List</title>
</head>
<body>
    <h2>Employee List (Employee list with uploaded file)</h2>
    <table border="1">
        <thead>
            <tr>
                <th>Employee Name</th>
                <th>Employee Photo</th>
                <th>Company Name</th>
                <th>Salary</th>
                <th>Date of Joining</th>
            </tr>
        </thead>
        <tbody>
            {% for employee in employees %}
            <tr>
                <td>{{ employee.employee_name }}</td>
                <td><img src="{{ employee.profile_pic.url }}"  width="100"></td>
                <td>{{ employee.company_name }}</td>
                <td>{{ employee.salary }}</td>
                <td>{{ employee.date_of_joining }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
